<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Intergalactic Science Kingdom | <%= title %></title>
    <meta name="description" content="Intergalactic Science Kingdom adalah sebuah server Discord dimana kita dapat mengobrol, menemukan teman baru, belajar bersama dalam banyak hal!" />
    <meta name="keywords" content="Science, Discord, Server" />
    <meta property="og:image" content="https://raw.githubusercontent.com/Wibu-Developer/WebISK/master/public/image/LogoISK.gif" />
    <meta property="og:image:alt" content="Logo ISK" />
    <meta property="og:site_name" content="Intergalactic Science Kingdom" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="Intergalactic Science Kingdom | <%= title %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:description" content="Intergalactic Science Kingdom adalah sebuah server Discord dimana kita dapat mengobrol, menemukan teman baru, belajar bersama dalam banyak hal!" />

    <link rel="icon" type="image/gif" href="image/LogoISK.gif" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/reveal.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Karla"
      rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet" />
    <!-- Option 1: Include in HTML -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" />
  </head>
  <style>
    a {
      text-decoration: none;
      color: cornflowerblue;
    }
    .reveal {
      opacity: 0;
    }

    .reveal.active {
      opacity: 1;
    }

    .active.fade-bottom {
      animation: fade-bottom 750ms ease-in;
    }

    .active.fade-left {
      animation: fade-left 750ms ease-in;
    }

    .active.fade-right {
      animation: fade-right 750ms ease-in;
    }

    @keyframes fade-bottom {
      0% {
        transform: translateY(200px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes fade-left {
      0% {
        transform: translateX(-200px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes fade-right {
      0% {
        transform: translateX(200px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @media (min-width: 1200px) {
      .max-1200 {
        max-width: 1200px;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    .bg-dark {
      background-color: #101010 !important;
    }

    .navbar-dark {
      /* From https://css.glass */
      background: rgba(16, 16, 16, 0.24) !important;
      backdrop-filter: blur(5px) !important;
      -webkit-backdrop-filter: blur(5px) !important;
    }

    .btn-primary {
      background: #5865f2;
    }
    .btn-danger {
      background-color: #f00;
    }
    .btn-primary:hover {
      background: #5865f2 !important;
    }
    .btn-danger:hover {
      background-color: #f00 !important;
    }

    body {
      font-family: "Karla";
    }
    .card {
      background-color: rgb(38, 38, 38) !important;
      border-style: groove;
      border-color: rgb(73, 73, 73);
    }
    ::-webkit-scrollbar {
      display: none;
    }
  </style>

  <body class="bg-dark d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
      <div class="row w-100 mx-lg-0">
        <a
          class="navbar-brand col-lg-4 col-auto ms-2 mx-lg-0 fw-bold text-truncate"
          href="/">
          ISK
        </a>

        <button
          class="navbar-toggler ms-auto col-auto border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse col-lg-8 ms-2 ps-lg-0 mx-lg-0"
          id="navbarSupportedContent">
          <ul
            class="navbar-nav mb-2 mb-lg-0 col-auto col-lg-6 justify-content-center">
            <li class="nav-item">
              <a class="nav-link <%= title == 'Information' ? 'active' : null %>" href="/info">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= title == 'Leaderboard' ? 'active' : null %>" href="/leaderboard">Leaderboard</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.sciencekingdom.gg/">
                Blog
              </a>
            </li>
          </ul>
          <a
            href="https://discord.gg/fajrulfx"
            class="ms-auto btn btn-outline-light rounded-circle border-0">
            <i class="bi bi-discord"></i>
          </a>
          <a
            href="https://youtube.com/@FajrulFx"
            class="ms btn btn-outline-light rounded-circle border-0">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    </nav>
  </body>
</html>
