<%- include("partials/header") %>

<div class="px-4 pb-5 text-center bg-black text-secondary">
  <img class="d-block mx-auto mb-4 reveal fade-bottom" src="image/LogoISK.gif" alt="Logo ISK" />
  <h1 class="display-5 text-white fw-bold reveal fade-bottom">Intergalactic Science Kingdom</h1>
  <div class="col-lg-6 mx-auto reveal fade-bottom">
    <p class="lead mt-2 mb-3">
      Intergalatic Science Kingdom adalah sebuah server Discord dimana kita
      dapat mengobrol, menemukan teman baru, belajar bersama dan banyak hal di
      server tersebut!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-outline-primary btn-lg px-4 gap-3"> Discord </a>
      <a class="btn btn-outline-danger btn-lg px-4"> Youtube </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 col-lg-6 text-white-50 text-center p-3"
      style="background-color: #212529"
    >
      <h1 class="mb-2 fw-bold text-white reveal fade-left">About</h1>
      <p class="reveal fade-left">
        Intergalatic Science Kingdom adalah sebuah server Discord dimana kita
        dapat mengobrol, menemukan teman baru, belajar bersama dan banyak hal di
        server tersebut!
      </p>
      <p class="reveal fade-left">
        Server ini diperuntukkan sebagai wadah interaksi, di mana kamu bisa
        mengirimkan meme sains, fanart, ngobrol dengan Fajrul dan teman-teman
        lain, serta berdiskusi untuk topik-topik tertentu.
      </p>
      <p class="reveal fade-left">
        Server ini didirikan oleh
        <a href="https://fajrul.blog/"
          >Fajrul Falah, seorang seorang pendidik dan komunikator sains
          Indonesia</a
        >
        dan kawan kawan pada 24 Juli 2021
      </p>
      <p class="reveal fade-left">
        Selain itu, di server ini terdapat <a href="#Roles">Roles</a> dan
        <a href="#Channel">channel</a> yang menarik serta event dan member yang
        aktif!
      </p>
    </div>
    <div
      class="col-12 col-lg-6 py-3 px-4 text-center"
      style="background-color: #495057"
    >
      <h1 class="fw-bold mb-3 text-white reveal fade-right">Leaderboard</h1>
      <div class="container fs-3 fw-bold">
        <div
          class="row border border-dark bg-primary rounded-pill my-1 reveal fade-right"
          style="color: gold"
        >
          <div class="col-2">1</div>
          <div class="col-8"><%= leaderboard[0].name %></div>
          <div class="col-2"><%= leaderboard[0].level %></div>
        </div>
        <div
          class="row border border-dark bg-primary rounded-pill my-1 reveal fade-right"
          style="color: silver"
        >
          <div class="col-2">2</div>
          <div class="col-8"><%= leaderboard[1].name %></div>
          <div class="col-2"><%= leaderboard[1].level %></div>
        </div>
        <div
          class="row border border-dark bg-primary rounded-pill my-1 reveal fade-right"
          style="color: brown"
        >
          <div class="col-2">3</div>
          <div class="col-8"><%= leaderboard[2].name %></div>
          <div class="col-2"><%= leaderboard[2].level %></div>
        </div>
        <div
          class="row border border-dark bg-primary rounded-pill my-1 reveal fade-right"
          style="color: #eee"
        >
          <div class="col-2">4</div>
          <div class="col-8"><%= leaderboard[3].name %></div>
          <div class="col-2"><%= leaderboard[3].level %></div>
        </div>
        <div
          class="row border border-dark bg-primary rounded-pill my-1 reveal fade-right"
          style="color: #eee"
        >
          <div class="col-2">5</div>
          <div class="col-8"><%= leaderboard[4].name %></div>
          <div class="col-2"><%= leaderboard[4].level %></div>
        </div>
      </div>
      <a href="" class="btn btn-outline-primary btn-lg px-4 py-1 mt-3 reveal fade-right"
        >See More</a
      >
    </div>
  </div>
</div>

<%- include("partials/footer") %>
