<%- include("partials/header") %>
<style>
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightcyan !important;
    opacity: 1; /* Firefox */
  }
</style>
<div class="container-fluid text-center my-3">

<div class="container-fluid max-1200 text-center my-3">
  <div class="row p-3">
    <div class="col-12 col-lg-8" id="leaderboard">
      <div class="card pt-3 pb-1 rounded-4 mb-2 mb-lg-0">
        <h1 class="text-white fw-bold mb-3">Leaderboard</h1>
        <div class="table-responsive-md overflow-scroll px-2 mx-2">
          <div class="pagination d-flex justify-content-between mt-4">
            <% if (page > 1) { %>
            <a href="?p=<%= page - 1 %>" class="btn btn-secondary"
              >&laquo; Previous</a
            >
            <% } %> <% if (page < pageCount) { %>
            <a href="?p=<%= page + 1 %>" class="btn btn-success"
              >Next &raquo;</a
            >
            <% } %>
          </div>
          <form action="/leaderboard" method="get" class="mt-3">
            <div class="input-group">
              <input
                type="text"
                name="username"
                class="form-control opacity-75 bg-secondary text-white"
                placeholder="Search by username"
                autocomplete="off"
                aria-label="Search by username" />
            </div>
          </form>

        <div class="table-responsive-md overflow-scroll px-3 mx-2">
          <table class="table table-dark fs-4 align-middle opacity-75">
            <thead>
              <tr>
                <th class="px-2" scope="col">Rank</th>
                <th class="px-2" scope="col" colspan="2">User</th>
                <th class="px-2" scope="col">XP</th>
                <th class="px-2" scope="col">Messages</th>
                <th class="px-2" scope="col">Level</th>
              </tr>
            </thead>
            <tbody>
              <% levelingData.levels.forEach((user, i) => { %>
              <tr>
                <td class="px-2"><%= i + 1 %></td>
                <td class="px-2">
                  <img
                    src="https://cdn.discordapp.com/avatars/<%= user.userId %>/<%= user.avatar %>.webp?size=64"
                    alt="<%= user.tag %> avatar"
                    class="rounded-circle border"
                    width="64"
                    onerror="this.onerror=null; this.src='https://cdn.discordapp.com/embed/avatars/1.png'" />
                </td>
                <td class="px-2">
                  <%= user.username + (user.discriminator !== "0" ?
                  `#${user.discriminator}` : "") %>
                </td>
                <td class="px-2"><%= user.xp %></td>
                <td class="px-2"><%= user.messageCount %></td>
                <td class="px-2"><%= user.level %></td>
                <td class="px-3"><%= user.username + (user.discriminator !== "0" ? `#${user.discriminator}` : "") %></td>
                <td class="px-3"><%= user.xp %></td>
                <td class="px-3"><%= user.messageCount %></td>
                <td class="px-3"><%= user.level %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 h-100" id="col-lb-2">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-12" id="multiplier">
          <div
            class="card mt-2 mt-lg-0 mb-0 mb-md-2 mb-lg-3 bg-dark text-white rounded-4 bg-opacity-75">
            <div class="card-body">
              <h1 class="card-title mb-3">Multipliers</h1>
              <div class="card-text fs-5">
                <% levelingData.multipliers.forEach(multiplier => { %>
                <div class="mb-4">
                  <h4>
                    <%= multiplier.type %> - x<%= multiplier.multiplier %>
                  </h4>
                  <ul class="text-start m-auto">
                    <% multiplier.targets.forEach(target => { %> <% if (
                    multiplier.type == "Channel" ) { %>
                    <li>
                      <%- target.type === 0 ? `<svg
                        stroke="currentColor"
                        fill="currentColor"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        class="ml-2"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <g id="Hashtag">
                          <path
                            d="M20.435,15.506H16.2l.61-7h3.63a.5.5,0,0,0,.5-.5.5.5,0,0,0-.5-.5H16.9l.34-3.87a.509.509,0,0,0-.46-.54.5.5,0,0,0-.54.46l-.35,3.95H8.9l.34-3.87a.509.509,0,0,0-.46-.54.491.491,0,0,0-.54.46l-.35,3.95H3.565a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5h4.24l-.62,7H3.565a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5h3.54l-.34,3.86a.508.508,0,0,0,.45.54h.05a.516.516,0,0,0,.5-.46l.34-3.94h7l-.34,3.86a.508.508,0,0,0,.45.54h.05a.516.516,0,0,0,.5-.46l.34-3.94h4.33a.5.5,0,0,0,.5-.5A.5.5,0,0,0,20.435,15.506Zm-5.25,0H8.2l.61-7h7Z"></path>
                        </g></svg
                      >` : target.type === 15 ? `<svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="ml-2"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"></path>
                        <path
                          d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
                        <path
                          d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path></svg
                      >` : null %> <%= target.name %>
                    </li>
                    <% } else if ( multiplier.type == "Role" ) { %>
                    <li style="color: #<%= target.color.toString(16) %>">
                      @<%= target.name %>
                    </li>
                    <% } %> <% }) %>
                  </ul>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-12" id="role">
          <div
            class="card mt-3 mt-md-2 bg-dark text-white rounded-4 bg-opacity-75">
            <div class="card-body">
              <h1 class="card-title mb-3">Role Rewards</h1>
              <div class="card-text fs-5">
                <ul class="list-unstyled">
                  <% levelingData.roleRewards.forEach(reward => { %>
                  <li>
                    Level <%= reward.level %> -
                    <span
                      style="color: #<%= reward.roles[0].color.toString(16) %>"
                      >@<%= reward.roles[0].name %></span
                    >
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const height = document.getElementById('role').getBoundingClientRect().bottom - document.getElementById("multiplier").getBoundingClientRect().top
  document.getElementById('leaderboard').setAttribute("style", `max-height: ${height}px !important; overflow-y: scroll`)
</script>

<%- include("partials/footer") %>
