<%- include("partials/header") %>

<div class="card bg-dark text-light mx-auto my-auto my-4 justify-content-center align-items-center" style="max-width: 800px;">
  <div class="card-header bg-transparent">
    <h1 class="card-title text-center fw-bold text-white">Saran</h1>
  </div>
  <div class="card-body">
    <% if (err && err.webhookNotFound) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Channel discord untuk mengirim saran <%= err.webhookNotFound %> tidak ditemukan
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else if (err && err.cannotSend) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Tidak dapat mengirim saran ke discord
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else if (err && err.emptySaran) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Saran tidak boleh kosong
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else if (err && err.emptyJenis) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Pilih jenis saran terlebih dahulu
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else if (err && err.spam) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Dimohon Jangan Spam Saran
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else if (success) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Saran berhasil dikirim
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>
    <form method="post" action="/saran">
      <div class="mb-3">
        <label for="jenis" class="form-label">Jenis Saran</label>
        <select class="form-select" name="jenis" id="jenis">
          <option selected disabled hidden>Pilih Jenis Saran</option>
          <option value="discord" <%= webhookSaran.saranDiscord ? null : "disabled" %>>Saran Discord</option>
          <option value="youtube" <%= webhookSaran.saranYoutube ? null : "disabled" %>>Saran Youtube</option>
          <option value="website" <%= webhookSaran.saranWebsite ? null : "disabled" %>>Saran Website</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" name="nama" id="nama" placeholder="Optional">
      </div>
      <div class="mb-3">
        <label for="saran" class="form-label">Saran</label>
        <textarea class="form-control" name="saran" id="saran" rows="3" placeholder="Ketik saran anda disini..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Kirim</button>
    </form>
  </div>
</div>


<%- include("partials/footer") %>